@model JHMS.Models.Rating

@{
    ViewBag.Title = "Rate Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<h2>Rate Branch</h2>
@section Scripts {
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script>


        $(document).ready(function () {

            $("#rate").prop("readonly", true);
        });



        $(function () {

            $("#rateYo").rateYo({

                onSet: function (rating, rateYoInstance) {
                    $("#rate").val(rating);
                },

                fullStar: true
            });
        });




    </script>

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        tinymce.init({ selector: '#mytextarea' });

    </script>

}

<style>
    .hid {
        display: none;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">





        <table class="table">
            <tr>
                <td class="p-3 mb-2 bg-secondary text-white">
                    <h4>Branch Name</h4>
                </td>
                <td></td>
                <td>
                    <h4>
                        @Html.DisplayFor(model => model.booking.Branch.name)
                        @Html.EditorFor(model => model.branchId, new { htmlAttributes = new { @class = "hid" } })
                        @Html.EditorFor(model => model.bookingId, new { htmlAttributes = new { @class = "hid" } })

                    </h4>
                </td>

            </tr>
            <tr>
                <td class="p-3 mb-2 bg-secondary text-white">
                    <h4>From Date</h4>
                </td>
                <td></td>
                <td>
                    <h4>
                        @Html.DisplayFor(model => model.booking.fromDate)
                    </h4>
                </td>

            </tr>
            <tr>
                <td class="p-3 mb-2 bg-secondary text-white">
                    <h4>To Date</h4>
                </td>
                <td></td>
                <td>
                    <h4>
                        @Html.DisplayFor(model => model.booking.toDate)
                    </h4>
                </td>

            </tr>
            <tr>
                <td class="p-3 mb-2 bg-secondary text-white">
                    <h4>Rating</h4>
                </td>
                <td></td>
                <td>
                    <h4>
                        @Html.EditorFor(model => model.rate, new { id = "rate1" })

                    </h4>
                    <div id="rateYo"></div>
                </td>

            </tr>


            <tr>
                <td class="p-3 mb-2 bg-secondary text-white">
                    <h4>Comment</h4>
                </td>
                <td></td>
                <td>

                    @Html.EditorFor(model => model.comment, new { htmlAttributes = new { @class = "form-control", @id = "mytextarea" } })
                    @*<h4>
                            @Html.EditorFor(model => model.comment, new { id = "comment" })

                        </h4>*@
                </td>

            </tr>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
